h1{
    text-align: center;
}


body{
    background: red;
    font: normal 15pt Arial;
}
header{
    color: white;

}
section{
    background: white;
    border-radius: 10px; /* borda arredondada */
    padding: 15px; /* tamanho da altra da section */
    width: 500px; /*Tamanha da section*/
    margin: auto; /*centraliza a section */ 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.49); /* sombra da section */

}
select {
    width: 150px;
}
footer{
    color: white;
    text-align: center; /* centralizar o texto */
    font-style: italic; /* fonte do texto */
}